<h1>Entry #<%= @entry.id %></h1>

<h3>
  <%= @entry.amount %> &euro;
</h3>

<h3>
  <%= @entry.date %>
  <small>
  Thats 
  <%= time_ago_in_words(@entry.date) %>
  ago
  </small>
</h3>

<h4>
  <%= link_to @entry.category, @entry.category, class:"anchor" %>
</h4>

<%= link_to 'Edit', edit_entry_path(@entry), class:"btn btn-primary btn-new" %>