
<p>
  <strong>Amount:</strong>
  <%= @entry.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @entry.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @entry.category_id %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry), class:"btn btn-primary btn-new" %>