<p class="story">
Entry with id 
<b>#<%= @entry.id %></b> 
was worth of 
<b><%= @entry.amount %> &euro;</b> 
and it was made at 
<b><%= @entry.date %></b> 
which is about 
<b><%= time_ago_in_words(@entry.date) %> 
ago</b>. Entry belongs to category called 
<%= link_to @entry.category, @entry.category, class:"anchor" %>. 
If you see something incorrect here, please 
<%= link_to 'Edit', edit_entry_path(@entry), class:"btn btn-primary btn-new" %> 
false information away.
</p>
