<h1><%= @year %> / <%= @month %></h1>

<table class="table table-auto">
	<tr>
		<th>Name</th>
		<th>Total</th>
	</tr>
<% @categories.each do |c, v| %>
	<tr>
		<td><%= c %></td>
		<td><%= v %></td>
	</tr>
<% end %>
</table>

<%= render 'table' %>
