<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table class="table table-auto">
  <thead>
    <tr>
      <th>Username</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user, user, class:"anchor" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class:"btn btn-primary btn-new" %></td>
        <td><%= link_to 'Destroy', user, class:"btn btn-danger btn-new", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class:"btn btn-new btn-success" %>
