<%# add navigation links to this file %>

<% if current_page?(root_url) && current_user.nil? %>
	<li class="jumbo-link"><%= link_to 'Signup', signup_path %></li>
	<li class="jumbo-link"><%= link_to 'Log in', login_path %></li>
<% elsif current_user.nil? %>
	<li class="jumbo-link link-dark"><%= link_to 'Signup', signup_path %></li>
	<li class="jumbo-link link-dark"><%= link_to 'Log in', login_path %></li>
<% else %>
	<li><%= link_to '<i class="fa fa-file"></i> Entries'.html_safe, entries_path %></li>
	<li><%= link_to '<i class="fa fa-th-list"></i> Categories'.html_safe, categories_path %></li>
	<li><%= link_to '<i class="fa fa-bar-chart"></i> Statistics'.html_safe, stats_path %></li>
	
	<li><%= link_to '<i class="fa fa-user"></i> '.html_safe + current_user.username, current_user_path %></li>
	<li><%= link_to '<i class="fa fa-sign-out"></i> Log out'.html_safe, logout_path %></li>
<% end %>
