<%# add navigation links to this file %>

<% if current_user.nil? %>
	<li class="jumbo-link"><%= link_to 'Signup', signup_path %></li>
	<li class="jumbo-link"><%= link_to 'Log in', login_path %></li>
<% else %>
	<li><%= link_to 'Entries', entries_path %></li>
	<li><%= link_to 'Categories', categories_path %></li>
	
	<li><%= link_to current_user.username, current_user %></li>
	<li><%= link_to 'Log out', logout_path %></li>
<% end %>
